.task {
    display: flex;
    align-items: center;
    position: relative;
    width: 500px;
    min-height: 250px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 25px rgba(186, 186, 186, .25);
}