.add-task_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(186, 186, 186, 0.25);


    .form-title, .form-desc {
        margin-bottom: 15px;
    }



}